services:
  - type: web
    name: agenda-sql-app
    env: docker
    dockerfilePath: ./Dockerfile
    region: oregon
    plan: free
    envVars:
      - key: PYTHON_VERSION
        value: 3.10
